* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/cubes.png");
}

.container {
    width: 100%;
}

/*HEADER*/

header h1 {
    margin: 12% 0 30px 0;
    font-family: 'Open Sans Condensed', Cursive;
    font-size: 50px;
    text-align: center;
}

.info-bar {
    background: white;
}

.info-bar div {
    border: 1px solid black;
}

.info-bar .col-md-12:last-child {
    border-top: none;
}

aside {
    height: 100%;
}


/*END HEADER*/

/*LOGIN SECTION*/

input[type="submit"] {
    font-size: 1.7rem;
    padding: 5px 9px;
}


/*END LOGIN SECTION*/

/*HELPER CLASSES*/

.flex {
    display: flex;
}

/*END HELPER CLASSES*/