* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/cubes.png");
}

.container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    margin-top: 70px;
}

.col-md-12, .col-md-10{
    padding: 0 !important;
}

.main-part {
    background: #FFFFFF;
}

aside {
    background: #FFFFFF;
    border: 1px solid black;
}

/*HEADER*/

header.col-md-12 {
    margin-bottom: 15px;
}

header h1 {
    margin: 12% 0 30px 0;
    font-family: 'Open Sans Condensed', Cursive;
    font-size: 50px;
    text-align: center;
}

.info-bar div {
    border: 1px solid black;
}

.info-bar h2, .info-bar h3 {
    margin: 10px 0;
}


.info-bar .col-md-12:last-child {
    border-top: none;
}

.info-bar .col-md-12 {
    background-color: grey;
    color: black;
}

.container a:hover {
    color: black;
}

h3 a {
    color: white;
}

/*END HEADER*/

/*LOGIN SECTION*/

input[type="submit"] {
    font-size: 1.7rem;
    padding: 5px 9px;
}

/*END LOGIN SECTION*/

/*INFORMATION SECTION*/

.information {
    border: 1px solid #000000;
}

form.search{
    margin-top: 50px;
    margin-right: 90px;
    margin-left: 90px;
}

.clients{
    border-top: 1px solid #000000;
}

.projects{
    border-top: 1px solid #000000;
}

.appointments{
    border-top: 1px solid #000000;
}

.invoices{
    margin-top: 18px;
    border-top: 1px solid #000000;
}

/*END INFORMATION SECTION*/

/*TAB-LIST*/

.active-tab{
    color: blue;
}



/*END TAB-LIST*/
.edit-invoice-buttons{
    justify-content: space-around;
}

/*Headsection*/
li.col-md-3.bold, li.col-md-6.bold {
    font-weight: 600 !important;
    font-size: 14px;
}

li.col-md-2.bold {
    font-weight: 600;
    font-size: 14px;
}

li.col-md-4.bold {
    font-weight: 600;
    font-size: 14px;
}
/*CUSTOMER/PROJECTS PHP PAGE*/

.client li  {
    list-style-type: none;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.clients ul {
    margin-bottom: 0px;
}
.aside-client li {
    list-style-type: none;
    font-size: 30px;
    font-family: 'Open Sans Condensed', Cursive;
    padding-left: 30px; 
    padding-top: 10px;
}
aside.col-md-3 {
    border: 1px solid black;
    padding: 0px;
}

li.logged_in_as {
    font-size: 35px !important;
}

.logged_in_as {
    border-bottom: 1px solid black;
    font-size: 50px;
    text-align: center;
    background-color: grey;
    color: black;
}

.clients li {
    font-size: 13px;
}

aside.col-md-3 {
    background-color: #EDEDED;
}

aside a {
    color: black;
}
li.logged_in_as {
    padding: 30px 0;
    text-transform: capitalize;
}
/*EDITCLIENT PAGE*/
.information-client.col-md-6 {
    padding-left: 0px;
}
.information-clients li {
    list-style-type: none;
    border: 1px solid black;
    padding: 5px;
}

.information-clients.col-md-12 {
    padding-top: 20px !important;
}
.editclients-button a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
}
.editclients-button {
    text-align: center;
}
.information-client-add {
    padding-top: 20px;
}

/*search_companyname.php*/
 .form-group.edit {
    padding-top: 40px;
}
/*EDIT-APPOINTMENT PAGE*/

img.ui-datepicker-trigger {
    position: absolute;
    top: 45%;
    right: -40px;
}

/*CUSTOMER.PHP*/
.information-client.col-md-3 p {
    padding-bottom: 5px;
    font-size: 17px;
}

.information-client.col-md-8 li {
    padding-bottom: 5px;
    margin-bottom: 2px;
    font-size: 17px;
    padding-left: 20px;
}

/*END INFORMATION SECTION*/

/*HELPER CLASSES*/
h3 {
    padding-left: 20px;
}
h2 {
    padding-left: 20px; 
}

.flex {
    display: flex;
}
.active {
    text-decoration: underline;
}

.relative {
    position: relative;
}

.editclients-button a {
    background-color: dimgrey;
    color: white;
    border-radius: 15px;
}
/*END HELPER CLASSES*/